/* font */
.english-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.korean-text {
  font-family: 'Arial', sans-serif;
  font-size: 17px;
}

/* 모달 */
.modal-title { font-size: 20px; }
.modal-header { --bs-modal-header-padding: 0.8rem 1rem; }
.modal-dialog {
  max-height: 600px;
  --bs-modal-width: 700px;
}
.modal-content {
  border-radius: 20px;
  border: none;
  background-color: #ffebf0;
}
.modal-header {
  background-color: #ff6f61;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.modal-body {
  font-size: 19px;
  padding: 20px;
  --bs-modal-padding: 2rem;
}
.modal-body input {
  margin-bottom: 25px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ffb6b9;
}

/* 모달 내 버튼 */
.btn-modal {
  padding: 12px 20px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 16px;
  background-color: #ffb6b9;
  color: white;
  border: none;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.btn-modal:hover { background-color: #ff6f61; }
.btn-close { color: white; }

/* 카드 */
.card { margin-bottom: 30px; }
.card-body { padding: 20px; }
.card-title { margin-bottom: 20px; }
.card-text { margin-bottom: 20px; }

/* 플로팅 버튼 */
.floating-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}
.floating-button {
  background-color: lavenderblush;
  color: black;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}
.floating-button:hover {
  background-color: lavender;
  transform: scale(1.1);
}

/* 파일 업로드 숨기기 */
.file-upload-input { display: none; }
