/* TTS 모달 */
.tts-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*gap: 1rem;*/
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.tts-control-group {
    width: 100%;
    /*display: flex;*/
    flex-direction: column;
    gap: 0.5rem;
}

.tts-control-group label {
    font-size: 0.9rem;
    color: #555;
}

.tts-control-group input[type="range"] {
    width: 50%;
}

.tts-control-group select,
.tts-control-group input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.tts-action-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.tts-action-buttons button {
    width: 60px;
    padding: 0.3rem 0.8rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.tts-action-buttons button.speak {
    background-color: #007bff;
    color: #fff;
}

.tts-action-buttons button.speak:hover {
    background-color: #0056b3;
}

.tts-action-buttons button.clear {
    background-color: #6c757d;
    color: #fff;
}

.tts-action-buttons button.clear:hover {
    background-color: #5a6268;
}